.DS_Store
__pycache__/
*.py[cod]

.ruff_cache/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.venv/
venv/

results/
tensorboard_logs/
checkpoints/
preds/

datasets*/
*.raw
*.re4
*.mask

*.keras
*.h5
*.ckpt

*.log
